<!DOCTYPE html>
<html>
  <head>
    <title>MiniCyanobase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <ul>
        <li><a href="/organisms">Organisms</a></li>
        <li><a href="/genes">Genes</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
